<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

    <header class="sticky-top" th:fragment="header">

        <nav class="navbar navbar-expand-sm navbar-dark shadow-lg bg-white p-0 border-bottom border-primary">

            <div class="container-fluid">

                <a class="navbar-brand mx-4 p-0" th:href="@{/home}">
                    <img src="../static/img/Logo.png" th:src="@{/img/Logo.png}" alt="Logo DamPadel" id="logo" />
                </a>

                <div class="justify-content-center">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/home}"><i class="bi bi-house me-2"></i>Inicio</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link " href="javascript:void(0)"><i class="bi bi-people me-2"></i>Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="javascript:void(0)"><i class="bi bi-chat me-2"></i>Contacto</a>
                        </li>
                    </ul>
                </div>

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/pistas}">Ver pistas</a>
                    </li>

                    <li class="nav-item mx-2">
                        <a th:href="@{/login}" sec:authorize="isAnonymous()" class="btn btn-primary" type="button">
                            <i class="bi bi-box-arrow-in-right me-2"></i>Acceder
                        </a>
                    </li>

                    <li class="nav-item mx-2" sec:authorize="isAuthenticated()">
                        <a th:href="@{/perfil}" class="btn btn-success" type="button">
                            <i class="bi bi-person-circle me-2"></i>Mi Perfil
                        </a>
                    </li>

                </ul>

            </div>

        </nav>

    </header>

    <footer th:fragment="footer" class="bg-dark mt-auto">

        <div class="container">

            <div class="row">

                <div class="col-6 col-lg-3 col-md-3">
                    <h4 class="my-4 text-light">DamPadel</h4>
                    <p class="text-light">Tu club de pádel en Sevilla.</p>
                    <p class="text-light">Reserva online las mejores pistas.</p>
                </div>

                <div class="col-6 col-lg-3 col-md-3">
                    <h5 class="my-4 text-light">Navegación</h5>
                    <a class="nav-link" th:href="@{/home}"><i class="bi bi-house me-2"></i>Inicio</a>
                    <a class="nav-link my-3" th:href="@{/nosotros}"><i class="bi bi-people me-2"></i>Nosotros</a>
                    <a class="nav-link mb-5" th:href="@{/contacto}"><i class="bi bi-chat me-2"></i>Contacto</a>
                </div>

                <div class="col-6 col-lg-3 col-md-3">
                    <h5 class="my-4 text-light">Contacto</h5>
                    <p class="text-light">+34 987 654 321</p>
                    <p class="text-light">info@dampadel.es</p>
                    <p class="text-light">C. Condes de Bustillo, 41010 Sevilla</p>
                </div>

                <div class="col-6 col-lg-3 col-md-3">
                    <h5 class="my-4 text-light">Legal</h5>
                    <p class="text-light">Términos y condiciones</p>
                    <p class="text-light">Política de privacidad</p>
                    <p class="text-light">Política de cookies</p>
                </div>

                <hr class="text-light">

            </div>

        </div>

        <p class="text-light text-center">© 2026 Club DAM Pádel. Todos los derechos reservados. | Impulsado por
            PadelBooker
        </p>

    </footer>

</body>

</html>