<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club DamPadel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/base.css" th:href="@{/css/base.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="d-flex flex-column min-vh-100">

    <div th:replace="~{fragments/base :: header}"></div>

    <main>

        <section>

            <div class="container mt-4">

                <table class="table table-striped">

                    <thead class="table-primary">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Rol</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="usuario : ${listaUsuarios}">
                            <td th:text="${usuario.id}">ID</td>
                            <td th:text="${usuario.username}">Nombre</td>
                            <td th:text="${usuario.email}">Email</td>
                            <td th:text="${usuario.telefono}">Teléfono</td>
                            <td th:text="${usuario.rolUsuario}">Rol</td>
                            <td>
                                <a href="#" th:href="@{/editar/{id}(id=${usuario.id})}">Editar</a> |
                                <a href="#" th:href="@{/borrar/{id}(id=${usuario.id})}">Borrar</a>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <a href="crearUsuario" class="btn btn-primary">Crear nuevo usuario</a>

            </div>

        </section>

        <hr>

        <section>

            <div class="container mt-4">

                <table class="table table-striped">

                    <thead class="table-primary">
                        <tr>
                            <th>Número</th>
                            <th>Tipo</th>
                            <th>Suelo</th>
                            <th>Precio/Hora</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="pista : ${listaPistas}">
                            <td th:text="${pista.numero}">ID</td>
                            <td th:text="${pista.tipo}">Tipo</td>
                            <td th:text="${pista.suelo}">Suelo</td>
                            <td th:text="${pista.precioHora}">Precio/Hora</td>
                            <td>
                                <a href="#" th:href="@{/editarPista/{id}(id=${pista.numero})}">Editar</a> |
                                <a href="#" th:href="@{/borrarPista/{id}(id=${pista.numero})}">Borrar</a>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <a href="crearUsuario" class="btn btn-primary">Añadir nueva pista</a>

            </div>

        </section>

    </main>

    <div th:replace="~{fragments/base :: footer}"></div>

</body>

</html>