<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club DamPadel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/base.css" th:href="@{/css/base.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="d-flex flex-column min-vh-100">

    <div th:replace="~{fragments/base :: header}"></div>

    <main class="container-fluid">
        <div class="row">

            <nav class="col-2 border-end min-vh-100 p-3 mt-3">

                <h5 class="text-center mb-4 fw-bold">Panel de Control</h5>

                <div class="list-group list-group-flush">

                    <button class="list-group-item list-group-item-action border rounded" data-bs-toggle="list"
                        data-bs-target="#seccion-usuarios" th:classappend="${param.tab == null} ? 'active' : ''">
                        Gestión de usuarios
                    </button>

                    <button class="list-group-item list-group-item-action border rounded my-2" data-bs-toggle="list"
                        data-bs-target="#seccion-pistas"
                        th:classappend="${param.tab != null and param.tab[0] == 'pistas'} ? 'active' : ''">
                        Gestión de pistas
                    </button>

                    <button class="list-group-item list-group-item-action border rounded" data-bs-toggle="list"
                        data-bs-target="#seccion-reservas"
                        th:classappend="${param.tab != null and param.tab[0] == 'reservas'} ? 'active' : ''">
                        Gestión de reservas
                    </button>

                </div>

                <section class="container">
                    <div th:if="${errorMensaje}" class="mx-auto">

                        <p class="bg-danger text-white text-center p-3 mt-3 fw-bolder rounded">
                            <i class="bi bi-x-circle me-2 fs-5"></i>
                            <span class="fs-5" th:text="${errorMensaje}"></span>
                        </p>

                    </div>
                </section>

            </nav>

            <div class="col-10 px-md-4 mb-5 tab-content">

                <section class="tab-pane fade" id="seccion-usuarios"
                    th:classappend="${param.tab == null} ? 'show active' : ''">

                    <div class="container mt-4">

                        <a th:href="@{/crearUsuario}" class="btn btn-outline-primary my-3">Crear nuevo usuario</a>

                        <table class="table table-striped">

                            <thead class="table-primary">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Teléfono</th>
                                    <th>Rol</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="usuario : ${listaUsuarios}">
                                    <td th:text="${usuario.id}">ID</td>
                                    <td th:text="${usuario.username}">Nombre</td>
                                    <td th:text="${usuario.email}">Email</td>
                                    <td th:text="${usuario.telefono}">Teléfono</td>
                                    <td th:text="${usuario.rolUsuario}">Rol</td>
                                    <td>
                                        <a href="#" th:href="@{/editarUsuario/{id}(id=${usuario.id})}">Editar</a> |
                                        <a href="#" th:href="@{/borrarUsuario/{id}(id=${usuario.id})}">Borrar</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </section>

                <section class="tab-pane fade" id="seccion-pistas"
                    th:classappend="${param.tab != null and param.tab[0] == 'pistas'} ? 'show active' : ''">

                    <div class="container mt-4">

                        <a th:href="@{/crearPista}" class="btn btn-outline-primary my-3">Añadir nueva pista</a>

                        <table class="table table-striped">

                            <thead class="table-primary">
                                <tr>
                                    <th>Número</th>
                                    <th>Tipo</th>
                                    <th>Suelo</th>
                                    <th>Precio/Hora</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="pista : ${listaPistas}">
                                    <td th:text="${pista.numero}">Número de pista</td>
                                    <td th:text="${pista.tipo}">Tipo</td>
                                    <td th:text="${pista.suelo}">Suelo</td>
                                    <td th:text="${pista.precioHora}">Precio/Hora</td>
                                    <td>
                                        <a href="#"
                                            th:href="@{/editarPista/{numero}(numero=${pista.numero})}">Editar</a> |
                                        <a href="#"
                                            th:href="@{/borrarPista/{numero}(numero=${pista.numero})}">Borrar</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </section>

                <section class="tab-pane fade" id="seccion-reservas"
                    th:classappend="${param.tab != null and param.tab[0] == 'reservas'} ? 'show active' : ''">

                    <div class="container mt-4">

                        <a th:href="@{/crearReserva}" class="btn btn-outline-primary my-3">Añadir nueva reserva</a>

                        <table class="table table-striped">

                            <thead class="table-primary">
                                <tr>
                                    <th>Código</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                    <th>Hora de entrada</th>
                                    <th>Hora de salida</th>
                                    <th>Pista</th>
                                    <th>Cant. Raquetas</th>
                                    <th>¿Usa Luz?</th>
                                    <th>Precio</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="reserva : ${listaReservas}">

                                    <td th:text="${reserva.codigo}"></td>

                                    <td th:text="${reserva.usuario.username}"></td>

                                    <td th:text="${#dates.format(reserva.fecha, 'dd/MM/yyyy')}"></td>

                                    <td th:text="${reserva.horaEntrada}"></td>
                                    <td th:text="${reserva.horaSalida}"></td>

                                    <td>
                                        <span th:each="asig : ${reserva.asignaciones}"
                                            th:text="${asig.pista.numero}"></span>
                                    </td>

                                    <td>
                                        <span th:each="asig : ${reserva.asignaciones}"
                                            th:text="${asig.cantRaquetas}"></span>
                                    </td>

                                    <td>
                                        <span th:each="asig : ${reserva.asignaciones}"
                                            th:text="${asig.usaLuz ? 'Sí' : 'No'}"></span>
                                    </td>

                                    <td>
                                        <span th:text="${reserva.precioTotal} + '€'"></span>
                                    </td>

                                    <td>
                                        <a th:href="@{/editarReserva/{codigo}(codigo=${reserva.codigo})}">Editar</a> |
                                        <a th:href="@{/borrarReserva/{codigo}(codigo=${reserva.codigo})}">Borrar</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </section>

            </div>

        </div>
    </main>

    <div th:replace="~{fragments/base :: footer}"></div>

</body>

</html>