/*Header*/

nav {

    border-bottom: 2px solid #FF6600;

}

#logo {

    height: 100px;

}

.nav-item .nav-link {

    transition: scale 0.1s ease;
    color: black;
}

.nav-item:hover .nav-link {

    scale: calc(1.1);
    color: #FF6600;

}

.btn {

    background: linear-gradient(150deg, #ec8d4d 0%, #FF6600 100%);
    border-color: #FF6600;

    transition: scale 0.1s ease;

}

.btn:hover {

    border-color: #FF6600;

    scale: calc(1.1);
}


/*Footer*/

footer .nav-link {

    color: white;
    width: fit-content;
}

footer .nav-link:hover {

    color: #FF6600;

}